{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<div id='content'>
  <div id=searchBlur>

    <div id='graph'></div>

    <div id='info'>
      <div id="info_inner">
        <div id='current_office'>
          <h3 id='current_office_label' class='info_label'>Governor of Illinois</h3>
        </div><br/>

        <div id='running_for'>
          <span id='running_for_desc'>Running for...</span><br/>
          <h3 id='running_for_label' class='info_label'>President Of The United States</h3>
        </div>
      </div>
    </div>

  </div>

  <div id='search'>
    <input id='search_box' type='text' name='search'></input>
    <div id='search-exit-logo'>
      <i class='material-icons'>search</i> <!-- change to clear when in focus. -->
    </div>
  </div>

</div>
{% endblock %}
