{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<script type="text/javascript" src="{% static 'js/webgl-frameworks/three.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webgl-frameworks/Three.js'%}"></script>
<script type="text/javascript" src="{% static 'js/Graph.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/Stats.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/TrackballControls.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/Label.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/ObjectSelection.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layouts/force-directed-layout.js'%}"></script>
<script type="text/javascript" src="{% static 'main/graph_crafter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fullPage.js' %}"></script>
<div id='content'>
  <div id=searchBlur>

    <div id='info'>
      <div id="info_inner">

        <div class="section">
          <div id='headshot'>
            <img id='headshot_img' href=''/>
            <br/><br/>
          </div>

          <div id='party'>
            <h4 id='party_label' class='info_label'></h4>
            <br/>
          </div>

          <div id='current_office'>
            <span id='current_office_desc'>Currently:</span>
            <h3 id='current_office_label' class='info_label'></h3>
            <br/>
          </div>

          <div id='running_for'>
            <span id='running_for_desc'>Running for:</span><br/>
            <h3 id='running_for_label' class='info_label'></h3>
            <br/>
          </div>

          <div id='wiki_info'>
            <h5 id='wiki_info_label'></h5>
            <div id='wiki_info_link'>
              <a id='wiki_info_link_href' href=''>
                <small>Wikipedia<small>
              </a>
            </div>
          </div>
          <div class="arrowContainer downArrowContainer">
            <span class="arrowLabel"><small>Contributions</small></span><br/>
            <i class="scrollDownArrow arrow material-icons">keyboard_arrow_down</i>
          </div>
        </div>

        <div class="section">
          <div class="arrowContainer upArrowContainer">
            <i class="scrollUpArrow arrow material-icons">keyboard_arrow_up</i><br/>
            <span class="arrowLabel"><small>Overview</small></span>
          </div>
          <p>hey what's up</p>
          <p> I'm section 2!</p>
          <div class="arrowContainer downArrowContainer">
            <span class="arrowLabel"><small>Expenditures</small></span><br/>
            <i class="scrollDownArrow arrow material-icons">keyboard_arrow_down</i>
          </div>
        </div>

        <div class="section">
          <div class="arrowContainer upArrowContainer">
            <i class="scrollUpArrow arrow material-icons">keyboard_arrow_up</i><br/>
            <span class="arrowLabel"><small>Contributions</small></span>
          </div>
          <p>cool beans,</p>
          <p>you've reached section 3</p>
        </div>

      </div>
    </div>

  </div>

  <div id='search'>
    <form id='search_form'>
      <input id='search_box' type='text' name='search'></input>
      <div id='search-exit-logo'>
        <i id='search-exit-logo-icon' class='material-icons'>search</i>
      </div>
    </form>
  </div>

</div>
{% endblock %}
