{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fullPage.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://js.leapmotion.com/leap-0.6.4.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.scrollify.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/leapController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/viewController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fullPage.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/db.js' %}"></script>
  </head>

  <body>

    {% block content %}
    {% endblock %}

  </body>
</html>
